<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страничка авторизации</title>
    <link rel="stylesheet" href="style_autorization.css" />
</head>
<body>
    <div id = "body_auto">
        <div id="logo"><img src="imgs\dog.png"></div>
        <div id="exit_game">Войдите в игру</div>
        <input class="login" type ="text" placeholder="Логин">
        <input class="password" type ="password" placeholder="Пароль">
        <button class="exit">Войти</button> 
    </div>   
</body>
</html>