<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страничка с простым каркасом</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<header>
    <div id="logo"><img src="media\logo.svg"/></div>
    <div id="nav-bar">
        <div class="active">Игровое поле</div>
        <div>Рейтинг</div>
        <div>Активные игроки</div>
        <div>История игр</div>
        <div>Список игроков</div>
    </div>
    <div id="ex"> <img src="imgs\signout-icon.svg"/></div>
</header>
<div id="main-container">
    <div id="subject-list">
        <h1>Игроки</h1>
        <div class="container">
            <div class="subject-container">
                <div><img class="subject-icon"
                          src="imgs/zero.svg"/></div>
                <div class="subject-info">
                    <div class="subject-name">Пупкин Владелен Игоревич</div>
                    <div class="subject-percent">63% побед</div>
                </div>
            </div>
            <div class="subject-container">
                <div><img class="subject-icon"
                          src="imgs/x.svg"/></div>
                <div class="subject-info">
                    <div class="subject-name">Плюшкина Екатерина Викторовна</div>
                    <div class="subject-percent">23% побед</div>
                </div>
            </div>
        </div>
    </div>
    <div id="game-container">
        <div id="game-time">05:12</div>
        <div id="game-board">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"><img src="imgs/xxl-x.svg"/></div>
            <div class="cell"><img src="imgs/xxl-zero.svg"/></div>
            <div class="cell"><img src="imgs/xxl-zero.svg"/></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"><img src="imgs/xxl-x.svg"/></div>
            <div class="cell"></div>
        </div>
        <div id="game-step">Ходит&nbsp;<img src="imgs\zero.svg"/>&nbsp;Владелен Пупкин</div>
    </div>
    <div id="chat-container">
        <div class="msgs-container">
            <div class="msg-container other">
                <div class="msg-header">
                    <div class="subject-name x">Плюшкина Екатерина</div>
                    <div class="time">13:40</div>
                </div>
                <div class="msg-body">Ну что, готовься к поражению!!1</div>
            </div>
            <div class="msg-container me">
                <div class="msg-header">
                    <div class="subject-name zero">Пупкин Владлен</div>
                    <div class="time">13:41</div>
                </div>
                <div class="msg-body">Надо было играть за крестики. Розовый — мой не самый счастливый цвет</div>
            </div>
            <div class="msg-container me">
                <div class="msg-header">
                    <div class="subject-name zero">Пупкин Владлен</div>
                    <div class="time">13:45</div>
                </div>
                <div class="msg-body">Я туплю...</div>
            </div>
            <div class="msg-container other">
                <div class="msg-header">
                    <div class="subject-name x">Плюшкина Екатерина</div>
                    <div class="time">13:47</div>
                </div>
                <div class="msg-body">Отойду пока кофе попить, напиши в тг как сходишь</div>
            </div>
        </div>
        <div class="msg-interactive-elements">
            <textarea placeholder="Сообщение..."></textarea>
            <button><img src="imgs/send-btn.svg"></button>
        </div>
    </div>
</div>
</body>
</html>
