html {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

body {
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#body_auto {
    display: flex;
    width: 300px;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(44, 57, 121, 0.09);
    justify-content: center
}

div#logo img {
    height: 132px;
}

#exit_game {
    color: var(--gray-700, #373745);
    text-align: center;

    /* Headers / H1 – bold */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 36px */
}

input.login {
    resize: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    letter-spacing: 0.24px;
    padding: 12px 20px;
    gap: 8px;
    margin-bottom: -8px;
}

input.password {
    resize: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    letter-spacing: 0.24px;
    padding: 12px 20px;
    gap: 8px;
}

button.exit {
    display: flex;
    padding: 12px 80px;
    justify-content: center;
    gap: 8px;
    color: var(--gray-white, #FFF);
    align-self: stretch;
    border-color: rgba(96, 194, 170, 0.30);
    border-radius: 12px;
    border-style: initial;
    background: rgba(96, 194, 170, 0.30);
}